<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.scade">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scade"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.register.RegisterActivity"
            android:parentActivityName=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.LoginActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bangkit.scade.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".ui.detailinformation.DetailInformationActivity" />
        <activity
            android:name=".ui.hospital.HospitalActivity"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.skin_check.CheckSkinActivity"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.skin_check.splash.CheckSplashActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.splash.MainSplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"-->
<!--            android:theme="@style/Base.Theme.AppCompat" />-->
    </application>

</manifest>